.chat-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  box-sizing: border-box;
}

.chat-container h2 {
  margin-bottom: 10px;
  text-align: center;
   padding-top: 60px;
}

.messages-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
}

.message.me {
  background: #c8e6c9;
  margin-left: auto;
}

.message.other {
  background: #e0e0e0;
  margin-right: auto;
}

.chat-input-area {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.chat-input-area button {
  padding: 10px 15px;
  border-radius: 8px;
  background: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

